main[b-1xz6py6m75]{
    height: 91vh;
    padding: 1.1rem 0 0 2rem;
    margin: 0 20px 0 20px;
}

input[b-1xz6py6m75], select[b-1xz6py6m75], button[b-1xz6py6m75], a[b-1xz6py6m75]{
    margin: 0 0 2rem 0;
}

select[b-1xz6py6m75]{
    width: 100%;
}

