main[b-nmssjhwiq0]{
    height: 98vh;
    padding: 1.1rem 0 0 2rem;
    margin: 0 20px 0 20px;
    overflow: auto;
}

input[b-nmssjhwiq0], select[b-nmssjhwiq0]{
    margin: 0 0 2rem 0;
}

select[b-nmssjhwiq0]{
    width: 100%;
}