main[b-9otar8zphk]{
    height: 91vh;
    padding: 1.1rem 0 0 2rem;
    margin: 0 20px 0 20px;
}

input[b-9otar8zphk], select[b-9otar8zphk], button[b-9otar8zphk], a[b-9otar8zphk]{
    margin: 0 0 2rem 0;
}

select[b-9otar8zphk]{
    width: 100%;
}