main{
    height: 98vh;
    padding: 1.1rem 0 0 2rem;
    margin: 0 20px 0 20px;
    overflow: auto;
}

input, select, button, a{
    margin: 0 0 2rem 0;
}

select{
    width: 100%;
}

.ingredients-organization{
    display: flex;
    justify-content: space-evenly;
}

