@page "/Help"

<PageTitle>Help</PageTitle>

<main>
    <section class="help-content">
        <h1>Need Help?</h1>
        <div class="faq">
            <h2>Frequently Asked Questions</h2>
            <div class="gradient"></div>
            <ul>
                <li>
                    <h4>How can I make a reservation?</h4>
                    <p>Visit our <a href="#">reservation page</a> to make a reservation online, or you can call us at <span class="phone-number">4002-8922</span>.</p>
                </li>
                <li>
                    <h4>What are your opening hours?</h4>
                    <p>We are open from Monday to Saturday, 18:00 PM to 22:00 PM. We are closed on Sundays.</p>
                </li>
                <li>
                    <h4>Do you offer vegetarian or vegan options?</h4>
                    <p>Yes, we have a variety of vegetarian and vegan dishes available on our menu. Look for the "V" symbol to identify these options.</p>
                </li>
                <li>
                    <h4>Can I modify my order after it's been placed?</h4>
                    <p>Please contact us as soon as possible if you need to modify your order. Call us at <span class="#">4002-8922</span> and our staff will assist you.</p>
                </li>
                <li>
                    <h4>This is the best work?</h4>
                    <p>Yes, of course. Certainly deserves a 10 :)</p>
                </li>
            </ul>
        </div>
    
        <div class="contact-info">
            <h2>Contact Information</h2>
            <div class="gradient"></div>
            <div>
                <p>If you have any further questions or need assistance, you can reach us through the following channels:</p>
                <ul>
                    <li>Phone: <span class="phone-number">4002-8922</span></li>
                    <li>Email: <a href="#">help@icomida.com</a></li>
                    <li>Address: Instituto Vianna Junior, Juiz de Fora, Brazil</li>
                </ul>
            </div>
        </div>
    </section>
</main>

<footer>
    <div>
        <p>&copy; 2023 IComida. All rights reserved.</p>
    </div>
</footer>

@code {
    
}